.dare-text {
  transition: opacity 300ms ease-in-out;
  animation: fade-in 300ms ease-in-out;
  background-color: transparent;
  width: 50vw;
  height: 50vh;
  perspective: 1000px;

  &:global(.exiting) {
    opacity: 0;
  }

  &:global(.exited) {
    opacity: 0;
  }

  &:global(.entering) {
    opacity: 1;
  }

  &:global(.entered) {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.view-dare {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.flip {
  transform: rotateY(180deg);
  cursor: default;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front {
  background: #f8f9f9;
}

.back {
  transform: rotateY(180deg);
}

.A {
  color: #e74c3c;
}

.B {
  color: #3498db;
}

.C {
  color: #2ecc71;
}

.D {
  color: #f1c40f;
}

.E {
  color: #9b59b6;
}
